{% extends "base.html" %}

{% load static %}

{% block title %}MassGrosorna | About Us{% endblock %}

{% block content %}

    <!-- Header -->
    <header id="header-2" class="container section">
        <div class="row">
            <div id="header-text" class="col-12 text-center">
                <h1 class="display-4">Om Oss</h1>
                <h2 class="my-2">MassGrosorna</h2>
                <p class="mt-2">MassGrosorna är ett familjeföretag, men vi samarbetar gärna med andra! Kontakta oss vid
                    intresse, så återkomemer vi så fort vi kan.</p>
            </div>
        </div>
    </header>

    <!-- Main element to hold all key sections of the home page. It is not part of the grid structure. -->
    <main>
        <!-- About us section -->
        <section id="about-card" class="container section">
            <div class="row justify-content-center text-center">
                <div class="card" style="width: 16.5rem;">
                    <img src="{% static '/images/massgrosorna-about-susanna.jpg' %}" class="card-img-top"
                        alt="Författare - Susanna Huttunen">
                    <div class="card-body">
                        <h3 class="card-title">Susanna Huttunen</h3>
                        <p class="card-text">Författare</p>
                    </div>
                </div>
                <div class="card" style="width: 16.5rem;">
                    <img src="{% static '/images/massgrosorna-about-ellinor.jpg' %}" class="card-img-top"
                        alt="Illustratör - Ellinor Åkerling">
                    <div class="card-body">
                        <h3 class="card-title">Ellinor Åkerling</h3>
                        <p class="card-text">Illustratör</p>
                    </div>
                </div>
                <div class="card" style="width: 16.5rem;">
                    <img src="{% static '/images/massgrosorna-about-anita.jpg' %}" class="card-img-top"
                        alt="Författare - Anita Gros">
                    <div class="card-body">
                        <h3 class="card-title">Anita Gros</h3>
                        <p class="card-text">Författare</p>
                    </div>
                </div>
                <div class="card" style="width: 16.5rem;">
                    <img src="{% static '/images/massgrosorna-about-lars.jpg' %}" class="card-img-top"
                        alt="Författare - Lars-Göran Gros">
                    <div class="card-body">
                        <h3 class="card-title">Lars-Göran Gros</h3>
                        <p class="card-text">Författare</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}