{% extends "base.html" %}

{% load static %}

{% block title %}MassGrosorna | Home{% endblock %}

{% block content %}

<!-- Header with logo -->
<header id="header" class="container section">
    <div class="row">
        <div class="col-12 col-xl-6 text-center">
            <img src="{% static 'images/massgrosorna-logo.png' %}" alt="MassGrosorna logo" class="logo">
        </div>
        <div id="header-text" class="col-xl-6 text-center text-xl-start">
            <h1 class="display-4">Läsa, lära, le</h1>
            <h2>MassGrosorna är ett förlag med en dröm om att bidra</h2>
            <ul class="text-start">
                <li>Till jämlikhet och inkludering.</li>
                <li>Till normkritiskt tänkande och nya perspektiv.</li>
                <li>Till en framtid befolkad av trygga, välmående individer.</li>
            </ul>
            <p>I nuläget publicerar vi främst kortare skönlitterära verk, som brukar uppskattas av barn som
                vuxna. Samtliga böcker har en pedagogisk utgångspunkt.</p>
        </div>
    </div>
</header>

<!-- Homepage main links section -->
<section id="services" class="container section">
    <div class="mb-5 row justify-content-center">
        <div class="col-12 col-md-12 col-lg-6 d-flex justify-content-center mb-3">
            <a href="{% url 'library' %}" class="card text-decoration-none">
                <img src="{% static 'images/massgrosorna-library.png' %}" alt="A row of books" class="card-img-top">
                <div class="services-card-body mt-4">
                    <h3 class="card-title sub-heading-color">Bibliotek</h3>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-12 col-lg-6 d-flex justify-content-center">
            <a href="{% url 'about' %}" class="card text-decoration-none">
                <img src="{% static 'images/massgrosorna-about-us.png' %}" alt="A dandelion on a book"
                    class="card-img-top">
                <div class="services-card-body mt-4">
                    <h3 class="card-title sub-heading-color">Om Oss</h3>
                </div>
            </a>
        </div>
    </div>
</section>

{% endblock %}
