{% extends "base.html" %}
{% load static %}

{% block title %}MassGrosorna | Success{% endblock %}

{% block content %}

<!-- Header -->
<header id="header-2" class="container section">
    <div class="row">
        <div id="header-text" class="col-12 text-center">
            <h1 class="display-4">Tack!</h1>
            <p class="my-2">Vi har tagit emot ditt meddelande</p>
        </div>
        <div class="col-12 col-xl-12 text-center">
            <img id="success-img" src="{% static 'images/massgrosorna-bam-success.png' %}" alt="Excited Bam">
        </div>
    </div>
</header>
{% endblock %}
